<header class="site-header">
  <a class="site-header__logo" href="/">آکادمی لیان</a>
  <nav class="site-header__nav">
    <a href="/">خانه</a>
    <a href="/knowledge/">دانش</a>
    <a href="/education/">آموزش</a>
    <a href="/services/">خدمات تخصصی</a>
    <a href="/about/">درباره آکادمی</a>
    <a href="/contact/">تماس</a>
    {# TODO (مرحله‌ی بعد): آیکون جستجوی سراسری (Pagefind) اینجا اضافه می‌شود #}
  </nav>
</header>
